* {
  color: white;
}

body, h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 1920px;
  height: 1080px;
}

.logo, .login-form {
  background: transparent linear-gradient(#ff8000 0%, #ff4600 100%, #808080 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 770px;
  height: 280px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 742px;
  height: 485px;
  border-radius: 70px;
  background: #f8e4d0;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.16);
}

button {
  width: 207px;
  height: 68px;
  border-radius: 18px;
  border: none;
  background: radial-gradient(#ec4809 0%, #970303 100%);
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

input {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid gray;
  padding-bottom: 1em;
  margin: 1em;
  font-size: 20px;
  width: 50%;
}


@media only screen and (max-device-width:1150px),
screen and (max-width:1150px) {
  body {
    flex-direction: column;
    background: transparent linear-gradient(#ff8000 0%, #ff4600 100%, #808080 100%);
  }

  .login-form {
    flex-direction: column;
    height: 60vh;
  }

  .logo {
    height: 40vh;
  }

  form {
    width: 85vw;
    height: 1100px;
    border-radius: 200px;
  }

  input {
    font-size: 42px;
    width: 75%;
  }

  button {
    font-size: 48px;
    width: 450px;
    height: 180px;
    border-radius: 50px;
  }

  .logo, .login-form {
    width: 100%;
    background: transparent;
  }
}
