* {
  color: white;
}

/*----- login.html -----*/

body, h1 {
  margin: 0;
}

body {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 1920px;
  height: 1080px;
}

.logo, .login-form {
  background: transparent linear-gradient(#ff8000 0%, #ff4600 100%, #808080 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 33em;
  height: 11em;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 742px;
  height: 485px;
  border-radius: 70px;
  background: #f8e4d0;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.16);
}

button {
  width: 207px;
  height: 68px;
  border-radius: 18px;
  border: none;
  background: radial-gradient(#ec4809 0%, #970303 100%);
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #fff;
}

button:hover {
  background: #970303;
}

input {
  background-color: transparent;
  color: black;
  border: none;
  border-bottom: 1px solid gray;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: 1em;
  font-size: 20px;
  width: 50%;
}


@media only screen and (max-device-width:1200px),
screen and (max-width:1200px) {
  body {
    flex-direction: column;
    background: transparent linear-gradient(#ff8000 0%, #ff4600 100%, #808080 100%);
  }

  .login-form {
    flex-direction: column;
    height: 72vh;
  }

  .logo {
    height: 28vh;
  }

  form {
    width: 85vw;
    height: 1100px;
    border-radius: 200px;
  }

  input {
    font-size: 42px;
    width: 75%;
  }

  button {
    font-size: 48px;
    width: 450px;
    height: 180px;
    border-radius: 50px;
  }

  .logo, .login-form {
    width: 100%;
    background: transparent;
  }
}

/*----- Home -----*/

.base-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  background: #366725;
}

nav {
  width: 19vw;
  height: 100%;
  background: linear-gradient(#ff8000 0%, #ff4600 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

main {
  width: 81vw;
}

nav>img {
  width: 60%;
  margin: 2em auto;
}

a {
  text-decoration: none;
  display: inline-block;
  line-height: 2em;
  text-align: right;
}

li i {
  font-size: 1.5em;
}

.button {
  border-radius: 0.8em;
  margin-left: 1em;
  text-align: center;
  border: none;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  padding: 0.2rem;
  width: 75%;
  background: radial-gradient(#ec4809 0%, #970303 100%);
}

.button:hover {
  background: #970303;
}

i.fa, i.fas, i.far {
  width: 30px;
}

ul {
  list-style-type: none;
  font: normal 20px/27px Segoe UI;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  height: 100%;
  width: calc(100% - 15px);
  margin: 0 0;
  padding: 0;
  position: relative;
}

li {
  text-align: center;
  color: white;
  margin-bottom: 2em;
}

li:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

main {
  display: grid;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  columns: 3;
  justify-content: space-between;
  height: 7vh;
  font: normal 20px/27px Segoe UI;
  padding: 1em 2em;
  border-bottom: 1px solid black;
}

.add-project {
  background: #2d8d0b 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3em;
  color: white;
  letter-spacing: 0.1em;
  text-align: center;
  width: 20%;
}

.add-project>i {
  padding: 1em 1em;
}

/*----- My team -----*/



/*----- LaLiga table -----*/

section {
  background-image: url("../img/laliga_table_background.jpg");
  
  text-align: center;
}

table {
  text-align: center;
  font: normal Segoe UI;
  width: 40vw;
  height: 80vh;
  background: transparent;
  opacity: 0.95;
}

th {
  text-align: center;
}

table, th, td {
  border: 0.5px solid white;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

tr:nth-child(1) {
  background: #ff6019;
}

tr:nth-child(n+2) {
  background: #3175fd;
}

tr:nth-child(6) {
  background: #9b0303;
}

tr:nth-child(7) {
  background: #f0e406;
}

tr:nth-child(n+9) {
  background: #fce4d6;
}

tr:nth-child(2n+8) {
  background: #f8cbad;
}

tr:nth-child(n+19) {
  background: #f00;
}
